/* Universal Selectors */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* Inter Google Font */



/* Common Templates */

/* For Thematic Blue */

.blue {
    background-color: #2563EB;
    color:white;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    background-color: white;;
}

ul {
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav div ul li a {
    text-decoration: none;
    padding: 10px;
    color: #575757;
}    

nav div button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}   


/* header */


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    
header h1 {
    color: white;
    margin-bottom: 60px;
    padding: 0 20px;
    font-size: 60px;
    font-weight: 700;
}

header h1 .italic {
    font-style: italic;
    font-weight: 700;
}

header p {
    color: white;
    margin-bottom: 40px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    max-width: 700px;
}

header button {
    padding: 16px 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 80px;
    
}


/* meet the speakers section    */



.meet-the-speakers {
    padding: 100px 90px;
    text-align: center;
}

.meet-the-speakers > div > h2 {
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin-bottom: 50px;
}


.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.speaker-card {
    display: flex;
    flex-direction: column;
}

.speaker-card > div:first-child img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.speaker-card div h4 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    color: #2563EB;
    margin-top: 20px;
}

.speaker-card div h2 {
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin-top: 6px;
}

.speaker-card div p {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-top: 4px;
}  




/* Pricing Section */

.pricing-section {
    padding: 100px 90px;
    background: white;
}

.pricing-heading {
    text-align: center;
    margin-bottom: 60px;
}

.pricing-heading h2 {
    font-size: 48px;
    font-weight: 700;
    color: #0D1B2A; 
    margin-bottom: 12px;
}

.pricing-heading p {
    color: grey;
    font-size: 16px;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.pricing-card {
    width: 320px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: white;
}

.plan {
    font-size: 12px;
    font-weight: 700;
    color: grey;
    margin-bottom: 10px;
}

.pricing-card h2 {
    font-size: 56px;
    font-weight: 700;
    color: #0D1B2A;
    margin-bottom: 6px;
}

.person {
    color: #6B7280;
    font-size: 14px;
    margin-bottom: 20px;
}


.pricing-card ul {
    list-style: disc;
    padding-left: 20px;
 
}

.pricing-card ul li {
    color: #4B5563;
    margin-bottom: 16px;
    font-size: 15px;
}

.pricing-card button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    border: 1px solid #2563EB;
    background: #fff;
    color: #2563EB;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
}


/* Pro Card */

.pro-card {
    background: #0D1B2A;
    color: #fff;
    border: none;
}

.pro-card h2,
.pro-card .plan,
.pro-card .person {
    color: #fff;
}

.pro-card ul li {
    color: #E5E7EB;
}


.pro-card button {
    background: #2563EB;
    color: #fff;
    border: none;
}




/* newsletter section */


.newsletter {
    background-color: #1b1b1b;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.newsletter > p:first-child {
    color: #2563EB;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.newsletter h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.newsletter > p:nth-of-type(2) {
    max-width: 600px;
    margin: 0 auto 35px;
    color: #cfcfcf;
    line-height: 1.6;
}

.newsletter form {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.newsletter input {
    width: 320px;
    padding: 15px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
}

.newsletter button {
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    background-color: #2563EB;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter button:hover {
    background-color: #0D1B2A;
}



/* footer */

footer {
    background-color: #0D1B2A;
    color: #6B7280;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 9px;
}           

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 9px;
    color: #6B7280;
}

.footer-left {
    font-size: 9px;
    color: #6B7280;
}



 