/* Universal Selectors */

* {
    margin: 0;
    padding: 0;
}


font-family: 'Inter', sans-serif;



/* Common Templates */

/* For Thematic Blue */

.blue {
    background-color: #2563EB;
    color:white;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    background-color: white;;
}

ul {
    list-style-type: none;
}

nav div ul li {
    display: inline-block;
    margin-right: 20px;
    
}

nav div ul li a {
    text-decoration: none;
    padding: 10px;
    color: #575757;
}    

nav div button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}   


/* header */


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

header h1 {
    color: white;
    
}

header p {
    color: white;

}